body {
    font-family: 'Nunito', sans-serif;
    color: white;
}

footer {
   padding-bottom:0 ;
}

nav {
    background-color: #fb9e04;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav ul {
    list-style-type: none;
}
a{
    margin: 10px;
}
a:hover{
    transition-duration: 0.5s;
    color: crimson;
}
.despacito {
    text-align: center;
    border-color: red;
    border: white;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.headerNav li {
    display: inline;
}

.headerNav div ul {
    padding-bottom: 10px;
}

h2{
    text-align: center;
    margin: 0px;
    font-size: 40px;
}

ul {
    text-align: center;
}

p {
    font-size: 25px;
}
.trait {
    background-color: white;
}
